<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container">
  <h1>Character Generator</h1>
  <form style="display: contents" (submit)="generateChar()">
    <input placeholder="Brief" name="brief" [(ngModel)]="brief" />
    <input
      placeholder="Number of stories"
      type="number"
      name="numberOfStories"
      [(ngModel)]="numberOfStories"
    />
    <!-- <select [(ngModel)]="gender" name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <select [(ngModel)]="age" name="age">
      <option value="Random">Random</option>

      <option value="0-2">0-2</option>

      <option value="3-9">3-9</option>

      <option value="10-19">10-19</option>

      <option value="20-29">20-29</option>

      <option value="30-39">30-39</option>

      <option value="40-49">40-49</option>

      <option value="50-59">50-59</option>

      <option value="60-69">60-69</option>

      <option value="70+">70+</option>
    </select> -->

    <button type="submit" class="btn">Generate Characters</button>
  </form>
  <h1 *ngIf="stories.length > 0">Please select a character</h1>
  <input
    *ngIf="name"
    placeholder="Character name"
    name="name"
    [(ngModel)]="name"
  />
  <img *ngIf="image" src="{{ image }}" />
  <div *ngFor="let story of stories; let i = index" style="width: 80%">
    <div class="story" (click)="selectStory(i)">
      <input [checked]="selectedStory === i" class="checkbox" type="checkbox" />
      <div class="title">Character {{ i + 1 }}</div>
      <textarea
        style="height: 200px; width: 90%"
        [value]="story"
        (change)="changeStory($event, i)"
      ></textarea>

      <button
        class="btn"
        style="margin: 20px auto"
        (click)="generate20Images(i, true)"
      >
        Generate Character Images
      </button>
    </div>
    <div *ngIf="charactersImages.length > 0">
      <select
        *ngIf="characters[i].gender"
        [(ngModel)]="characters[i].gender"
        name="gender"
      >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <select
        *ngIf="characters[i].age"
        [(ngModel)]="characters[i].age"
        name="age"
      >
        <option value="Random">Random</option>

        <option value="0-2">0-2</option>

        <option value="3-9">3-9</option>

        <option value="10-19">10-19</option>

        <option value="20-29">20-29</option>

        <option value="30-39">30-39</option>

        <option value="40-49">40-49</option>

        <option value="50-59">50-59</option>

        <option value="60-69">60-69</option>

        <option value="70+">70+</option>
      </select>
      <select
        *ngIf="characters[i].race"
        [(ngModel)]="characters[i].race"
        name="race"
        (change)="raceChange($event, i)"
      >
        <option value="Random">Random</option>

        <option value="White">White</option>

        <option value="Black">Black</option>

        <option value="Indian">Indian</option>

        <option value="Asian">Asian</option>
      </select>
      <button
        class="btn"
        style="margin: 20px auto"
        *ngIf="characters[i].age && characters[i].gender"
        (click)="generate20Images(i, false)"
      >
        Regenerate Character Images
      </button>
      <div style="display: flex; flex-wrap: wrap; gap: 10px">
        <carousel [autoplay]="true" [loop]="true">
          <div
            class="carousel-cell"
            style="width: 512px"
            *ngFor="let image of filterFunction(charactersImages, i)"
          >
            <img *ngIf="image.image" src="{{ image.image }}" />
          </div>
        </carousel>
      </div>
    </div>
  </div>

  <!-- <button
    *ngIf="selectedStory || selectedStory === 0"
    class="btn"
    (click)="generateConversation()"
  >
    Generate Conversation
  </button>
  <div class="story" *ngIf="conversation.length > 0">
    <p *ngFor="let c of conversation">
      {{ c }}
    </p>
  </div> -->
</div>
